.noProductMain {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -40%);
	text-align: center;
	width: 100%;
	
	h3 {
		text-transform: uppercase;
		margin-bottom: 10px;
	}

	svg {
		width: 120px;
		display: block;
		margin: 0 auto;
	}

	@media screen and (max-width: 480px) {
		h3 {
			font-size: 14px;
			line-height: 20px;
			margin-bottom: 5px;
		}

	}
}