@import '../../../scss/_variable.scss';

.burgerMenuBtn {
	display: none;
}

@media screen and (max-width: 480px) {
	.burgerMenuBtn {
		position: fixed;
		z-index: 15;
		width: 30px;
		height: 30px;
		right: 10px;
		top: 25px;
		border: transparent;
		cursor: pointer;
		display: block;
		border-radius: 5px;
		background-color:$color-main-btn-gray;
		display: block;

		& span {
			position: absolute;
			display: block;
			left: 3px;
			width: 80%;
			height: 2px;
			background-color: $color-main-btn-line-gray;
			transition: .2s cubic-bezier(.8, .5, .2, 1.4);
			transition-duration: 500ms
		}

		& span:nth-child(1) {
			top: 6px;
		}

		& span:nth-child(2) {
			top: 14px;
			left: 3px;
			opacity: 1;
		}

		& span:nth-child(3) {
			bottom: 6px;
		}

		& span.active:nth-child(1) {
			transform: rotate(45deg);
			top: 14px;
			left: 3px;
		}

		& span.active:nth-child(2) {
			opacity: 0;
			left: 0px;
		}

		& span.active:nth-child(3) {
			bottom: 14px;
			left: 3px;
			transform: rotate(-45deg);
		}
	}
}