@import '../../scss/variable';

.asideBurgerPanel,
.asideBurgerPanelBg {
	display: none;
}

.headerMain {
	padding: 50px 0;

}

.headerMainWrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* левая часть */
.headerTitle {
	display: flex;
	align-items: center;
	max-width: 250px;

	& svg {
		width: 40px;
		height: 40px;
		object-fit: contain;
		margin-right: 5px;
		transform: rotate(30deg);
	}

	& .headerTitleWrapper h1 {
		font-weight: 700;
		font-size: 20px;
		line-height: 24px;
		text-transform: uppercase;
		color: #079784;
	}

	& .headerTitleWrapper p {
		font-size: 14px;
		line-height: 17px;
		color: $color-main-subtext;
		
	}
}





/* правая часть */

.headerAboutIcons {
	display: flex;
	align-items: center;

	& svg {
		width: 20px;
		height: 20px;
		cursor: pointer;
		z-index: 111;
	}

	& svg:not(:last-child) {
		margin-right: 10px;
	}


}



.headerAboutCart {
	display: flex;
	align-items: center;
	margin-right: 8px;

	& svg {
		margin-right: 5px;
		stroke: #9B9B9B;
	}

	& p {
		font-weight: 600;
		font-size: 12px;
		line-height: 15px;
	}

	& p span {
		margin-left: 3px;
	}

}

.headerAboutCartLink {
	position: relative;

	span {
		position: absolute;
		top: -23px;
		right: -10px;
		width: 22px;
		height: 22px;
		background-color: #c5c5c5;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 10px;
	}
}

.headerFavoriteLink {
	position: relative;
	margin-right: 10px;

	span {
		position: absolute;
		top: -23px;
		right: -10px;
		width: 22px;
		height: 22px;
		background-color: #c5c5c5;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 10px;
	}

	svg {
		stroke: #9B9B9B;
		stroke-width: 18px;
	}
}


.headerProfileSvg {
	fill: #9B9B9B;
}






@media screen and (max-width: 768px) {

	/* левая часть */
	.headerMain {
		padding: 30px 0;
	}
}


@media screen and (max-width: 480px) {

	/* левая часть */
	.headerMain {
		padding: 20px 0;
	}

	.headerTitle img {
		margin-right: 10px;
	}

	.headerTitleWrapper {
		& h1 {
			font-size: 16px;
			line-height: 20px;
		}

		& p {
			font-size: 10px;
			line-height: 14px;
		}
	}


	.headerAboutIcons {
		position: fixed;
		z-index: 11;
		right: 45px;
		padding: 8px;
	}

	.headerAboutCart {
		visibility: hidden;
		opacity: 0;
		transition: opacity 0.2s ease-in-out;

		& svg {
			margin-right: 5px;
			stroke: #000;
		}

		&.activeCart {
			visibility: visible;
			opacity: 1;
			transition-delay: 0.2s;
		}
	}



	.headerFavoriteLink {
		visibility: hidden;
		opacity: 0;
		transition: opacity 0.4s;
		svg {
			stroke: #000;
		}
	}

	.activeFavoriteSvg {
		opacity: 1;
		visibility: visible;
		transition-delay: 0.4s;
	}


	.headerProfileSvg {
		visibility: hidden;
		opacity: 0;
		transition: opacity 0.6s;
		fill: #000;

		&.activeProfileSvg {
			visibility: visible;
			opacity: 1;
			transition-delay: 0.6s;
		}
	}



	/* боковая панель */
	.asideBurgerPanelBg {
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: transparent;
		// width: 100%;
		// height: 100vh;
		opacity: 0;
		transition: opacity 300ms ease-in-out, background-color 300ms ease-in-out, visibility 1s ease;
		z-index: 10;
		visibility: hidden;

		&.activeBurgerPanelBg {
			background-color: #000000d6;
			opacity: 1;
			visibility: visible;

		}
	}


	.asideBurgerPanel {
		display: block;
		position: fixed;
		right: -350px;
		display: block;
		width: 230px;
		height: 100vh;
		background: $color-main-aside;
		transition: right 0.40s ease-in-out;
		z-index: 11;

		&.active {
			right: 0px;
		}
	}
}