@import './Components/Header/Header.module';
@import './scss/fonts';
@import './scss/variable';


html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: 'Inter-Regular';
	font-weight: 400;
	height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
}


code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}


a:not([class]) {
	text-decoration-skip-ink: auto;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
	display: block;
}

input,
button,
textarea,
select {
	font: inherit;
}


body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

ul[class],
ol[class] {
	list-style-type: none;
	padding: 0;
}



.container {
	max-width: 1370px;
	padding: 0 15px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	overflow-x: hidden;
	position: relative;
}

.mainWrapper {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.burgerMenuBtn,
.asidePanelShowByClick {
	display: none;
}


