$main-bg: #e2e1e198;
$color-main-whiteBg: #ffff;
$color-text-light: #ffffff;
$color-main-black: #000;


/* text */
$color-main-subtext: #9D9D9D;
$color-main-whiteText: #ffff;
$color-main-blackText: #000;
$color-main-light-gray:  #c5c5c5;

/* btn */
$color-main-btn-gray: #b9b9b9;
$color-main-btn-white: #ffff;
$color-main-btn-line-gray: #757575;
$color-main-svgBtn: #9c9b9b;
$color-btn-active: #3f9267;
$color-btn-black: #000;
$color-btn-activeFavorite: rgb(219, 30, 103);
$color-btn-favorite-icons: #5a5959;
$color-btn-darkRed: #b30505 ; 


/* aside */
$color-main-aside: #ffffff;

/* skeletons */
$color-main-skeleton: #e6e5e5cc;