$color-text-light: #ffffff;
$color-main-subtext: #9D9D9D;
$color-main-whiteBg: #ffff;
$color-main-whiteText: #ffff;
$color-main-black: #000;
$main-bg: #e2e1e198;
/* btn */
$color-main-btn-gray: #dfdfdfcc;
$color-main-btn-line-gray: #757575;
$color-main-svgBtn: #9c9b9b;
$color-main-green: #006400;

/* aside */
$color-main-aside: #ffffff;
